body {
    text-align: center;
} 

.hidden {
    display: none;
}

.input-box {
    margin: 20px auto;
    width: 700px;
}

.input-box input {
    padding: 10px;
    margin: 10px; 
}
.startGame
{
    
}

.category-selection {
    margin: 20px auto;
    width: 700px;
}

.question-box {
    margin: 20px auto;
    width: 700px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
}


.question-box button {
    /* padding: 10px;
    margin: 10px; */
    /* align-content: center; */
}

.options {
    margin-top: 20px;
}

.options div {
    margin-bottom: 10px;
}

.Two-Player-Question-Box {
    display: flex;
    justify-content: space-between;
}
